h1 {
color:#87097B;
}
body {
text-align: center;
color: #C41F1F;
background-image: url(Images/void.png);
}
a {
border-color: #C94949;
border-width: 30px;
color: #782F64;
font-weight: bold;
}
a:visted {
border-color: #C94949;
border-width: 30px;
color: #807D7F;
font-weight: bold;
}
#div1 {
position:relative;
margin:0 auto;
height:20px;
width:250px;
border-color:#693063;
background-color:#9C5494;
border-style:solid;
border-width:2px;
border-radius:15px;
}
#news {
border-width:2px;
border-style:solid;
border-color:#693063;
background-color:#9C5494;
height:350px;
width:400px;
text-align: left;
margin-left: 50px;
border-radius: 10px;
color: #6B2765;
float: left;
}
#newsh3 {
color:#87097B;
text-decoration: underline;
text-align: center;
font-size: 25px;
}
#newsp {
color:#782470;
text-align: left;
font-size: 20px;
}
#info {
border-width:2px;
border-style:solid;
border-color:#693063;
background-color:#9C5494;
height:350px;
width:300px;
text-align: left;
border-radius: 10px;
color: #6B2765;
display: inline-block;
float: center;
margin-top: 10px;
margin-right: 450px;
}
#infoh2 {
color:#87097B;
text-decoration: underline;
text-align: center;
}
#infop {
color:#87097B;
text-align: center;
font-size: 20px;
}
#contacta {
text-align: center;
text-decoration: underline;
font-family: Verdana;
color: #FC0505;
}